#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
}

p {
  font-size: 0.7rem;
}

.App {
  border: 8px solid #000;
  box-shadow: 35px -35px lightgreen;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

.switch-button {
  position: absolute;
  top: 0;
  left: 0;
}

.feature-display-out-container {
  padding-top: 2rem;
}

.display-outer-container {
  display: flex;
  justify-content: space-between;
}

.display-container {
  /* box-shadow: 5px -5px lightgreen; */
  width: 48%;
  min-width: 500px;
  border: 1px solid black;
  padding: 1rem;
  /* border-radius: 5px; */
  margin: 1rem;
}

.display-item {
  text-align: left;
}

.hash-mismatch {
  color: red;
  font-weight: bold;
  text-decoration: underline;
  background-color: rgba(255, 0, 0, 0.1);
}

.feature-outer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 2.5rem;
  padding-bottom: 2rem;
}

.submit-log-hash-outer-container {
  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}

.submit-log-hash-container,
.submit-log-hash-container2 {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: 45%;
  min-width: 800px;
}

.server-charlie-container {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.merkle-tree-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.fa-down-long {
  font-size: 2rem;
  color: lightgreen;
  margin-bottom: 1rem;
}

.submit-outer-container {
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
}

.titleAstartes {
  color: lightgreen;
}

.title-server-icon-container {
  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 290px;
}

.server-icon-container {
  margin-left: 1rem;
}

.server-icon {
  width: 45px;
  height: 14px;
  background-color: black;
  border-radius: 2px;
  margin: 1px;
}

.server-icon div {
  width: 5px;
  height: 5px;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  background-color: lightgreen;
  animation: pattern1 0.14s linear infinite;
  -webkit-animation: pattern1 0.14s linear infinite;
}

@keyframes pattern1 {
  0% {
    background: rgba(149, 244, 118, 0.6);
  }
  100% {
    background: rgba(149, 244, 118, 1);
  }
}

@-webkit-keyframes pattern1 {
  0% {
    background: rgba(149, 244, 118, 0.6);
  }
  100% {
    background: rgba(149, 244, 118, 1);
  }
}
